*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

.rowab{

display: inline-flex;
margin-left:180px;
margin-top: 350px;
position: absolute;
}

.rowab .colab{

    width:500px;
    height: 500px;
    


}
.rowab .colac{

    width:600px;
    height: 500px;
    


}

.rowab .colac .textab{

display: flex;
margin-top: 100px;
}

.rowab .colac .textab h4{

font-size: 30px;
margin-right: 10px;
font-weight: 800;
font-family: Arial, Helvetica, sans-serif;


}

.txtcolorab{

    color:#7b9c6c ;


}

.rowab .colac  p{

font-size: 16px;
font-weight: 500;

}

.rowab .colac  .btnab{

display: flex;
margin-top: 50px;
}

.rowab .colac  .btnab button{


    width: 150px;
    padding: 10px;
    margin-right: 10px;
    border: none;
   font-weight: 700;

}
.active{
background:#7b9c6c ;
color: #fff;

}

.rowab .colac  .btnab button:hover{

    background:#7b9c6c ;
    color: #fff;

}

@media only screen and (max-width: 912px){


    .rowab{

        display: inline-block;
        margin-left: 100px;
        margin-top: 350px;
        position: absolute;
        }
        


}

@media only screen and (max-width: 414px){


    .rowab{

        display: inline-block;
        margin-left: 100px;
        margin-top: 400px;
    
        position: absolute;
        }
        


}
















